.input-transparent {
  width: 100%;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: initial;
  border: none;
  box-shadow: none;
  outline: none;
  color: #212529;
  z-index: 2;
}
